<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="J_AdakStudioConnectionString" connectionString="Data Source=87.107.146.115,1433;Initial Catalog=Studio_Demo;User ID=Studio_Demo;Password=Demooo110!##1001Javad"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <roleManager cacheRolesInCookie="true" defaultProvider="RoleProvider" enabled="true">
      <providers>
        <clear/>
        <add name="RoleProvider" type="RoleProvider"/>
      </providers>
    </roleManager>
    <compilation targetFramework="4.8" debug="true">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.8" maxRequestLength="1048576"/>
	  <sessionState mode="InProc" >
	  </sessionState>
    <globalization culture="en-US" uiCulture="en-US"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
	  <customErrors mode="Off"/>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="500000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <directoryBrowse enabled="false"/>
    <defaultDocument>
      <files>
        <clear/>
		  <add value="Dashboard.aspx"/>
		  <add value="Login.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

		<dependentAssembly>
			<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
			<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
			<bindingRedirect oldVersion="0.0.0.0-6.19.0.0" newVersion="6.19.0.0"/>
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
			<bindingRedirect oldVersion="0.0.0.0-6.19.0.0" newVersion="6.19.0.0"/>
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
			<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
		</dependentAssembly>




		<dependentAssembly>
			<assemblyIdentity name="Stimulsoft.Controls" publicKeyToken="ebe6666cba19647a" culture="neutral"/>
			<bindingRedirect oldVersion="0.0.0.0-2016.3.0.0" newVersion="2016.3.0.0"/>
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="Stimulsoft.Controls.Win" publicKeyToken="ebe6666cba19647a" culture="neutral"/>
			<bindingRedirect oldVersion="0.0.0.0-2016.3.0.0" newVersion="2016.3.0.0"/>
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="Stimulsoft.Report.Web" publicKeyToken="ebe6666cba19647a" culture="neutral"/>
			<bindingRedirect oldVersion="0.0.0.0-2016.3.0.0" newVersion="2016.3.0.0"/>
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="Stimulsoft.Report" publicKeyToken="ebe6666cba19647a" culture="neutral"/>
			<bindingRedirect oldVersion="0.0.0.0-2016.3.0.0" newVersion="2016.3.0.0"/>
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="Stimulsoft.Base" publicKeyToken="ebe6666cba19647a" culture="neutral"/>
			<bindingRedirect oldVersion="0.0.0.0-2016.3.0.0" newVersion="2016.3.0.0"/>
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="Stimulsoft.Report.WpfDesign" publicKeyToken="ebe6666cba19647a" culture="neutral"/>
			<bindingRedirect oldVersion="0.0.0.0-2014.3.0.0" newVersion="2014.3.0.0"/>
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="Stimulsoft.Report.Mvc" publicKeyToken="ebe6666cba19647a" culture="neutral"/>
			<bindingRedirect oldVersion="0.0.0.0-2018.2.3.0" newVersion="2018.2.3.0"/>
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="Stimulsoft.Report.Check" publicKeyToken="ebe6666cba19647a" culture="neutral"/>
			<bindingRedirect oldVersion="0.0.0.0-2014.3.0.0" newVersion="2014.3.0.0"/>
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="Stimulsoft.Report.Wpf" publicKeyToken="ebe6666cba19647a" culture="neutral"/>
			<bindingRedirect oldVersion="0.0.0.0-2016.3.0.0" newVersion="2016.3.0.0"/>
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="Stimulsoft.Report.WebDesign" publicKeyToken="ebe6666cba19647a" culture="neutral"/>
			<bindingRedirect oldVersion="0.0.0.0-2016.3.0.0" newVersion="2016.3.0.0"/>
		</dependentAssembly>
		
    </assemblyBinding>
  </runtime>
  <appSettings>
	  <add key="PortalUrl" value="http://localhost:60582" />
  </appSettings>
  <system.codedom>
    <compilers>
      <compiler extension=".cs" language="c#;cs;csharp" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <compiler extension=".vb" language="vb;vbs;visualbasic;vbscript" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </compilers>
  </system.codedom>
</configuration>